@charset "utf-8";
/* CSS Document */

body
{
background-color: #00FFFF;
text-align:center;
}
#form
{

border: 5px solid #00F;
width:45%;
float:left;
text-align:center;
}
#form2
{
text-align:center;
border:5px solid #00F;
width:45%;
float:left;
height:511px;
}
#main
{
margin-left:5%;
margin-right:5%;
text-align:center;
}
#mainhead
{
background-color:#FF9900;
}
a
{
text-decoration:none;
}